<%- include('partials/header.ejs'); %>

    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="/example">See Example Page</a><br>
    <a href="/restful">See Routes Page</a><br>

    <%- include('partials/footer.ejs'); %>